
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <p>This project aims to provide service with which you can search yfcc100m images based on text search terms. Three main interfaces will be provided of this service: application programming interface, website and mobile application.</p>

                <p>Most of the time when we are using images from internet we don't worry about their license, this behaviour may lead to problems with law. This service will make it sure that we don't make this mistake. With this service users can easily search the Creative Commons-licensed Flickr images using the text search terms. User will also be able to see images categorized into predifined categories.</p>
            </div>
       </div> 
    </div>
