
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">API</li>
               </ul>
            </div>
            <div class="col-sm-12">
               <h3>API</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-sm-12">
            <p>The following API's are available for this service:</p>
            <p>1. http://45.63.6.234:3000/api/categories</p>
            <p>2. http://45.63.6.234:3000/api/images/[category]/[limit]</p>
            <p>With the first url you can obtain the all the image categories and with the second url you can obtain the images based on the above categories and with specifying the number of images in the limit parameter.</p>
            </div>
       </div> 
    </div>
